{{>head}}
<tr>
    <td>
        <center>
            <span class="admin">
                <table width="500">
                    <tbody>
                        <tr>
                            <td>
                                <br>
                                <br>
                                <p>
                                 <img src="http://i.imgur.com/jgLZr.gif" />
                                 Kotikowa strona z linkami służąca budowaniu community.
                                 Instancja <a href="http://hckr.it">hckr.it</a> hostowana na iriscouch.
                                </p>
                                <p>
                                  Informacje i kod oryginału autorstwa Luca Matteis dostępny na <a href="https://github.com/lmatteis/hckr.it">Githubie</a>
                                </p>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </center>
    </td>
</tr>
{{>tail}}
